/* Body Color */
body {
	/* background-color: #FCCB85; */
		background-color: white;
}

/* Changes navbar to red */
.navbar-inverse {
	background-color: white;
	margin: 0;
	padding: 0;
}

/* Changes links to white */
.navbar-inverse .navbar-nav>li>a {
	color: black;
  font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 2px;
}

/* Link hover color */
.navbar-inverse .navbar-nav>li>a:hover {
	color: black;
}

/* Phone icon */
.navbar-inverse .navbar-nav>li>a>span>span{
	font-size: 12px;
  margin-right: 5px;
  font-size: 17px;
}

/* Navbar links*/
.nav-link {
	padding-bottom: 5px;
}

.nav-link:hover {
	border-bottom: 1px solid red;
}
/* Size of call text */
#call {
	font-size: 20px;
}

/* Changes outline of mobile menu to white */
.navbar-inverse .navbar-toggle {
  background-color: #B21509;
  border-color: white;
}

/* Changes mobile menu hover to beige */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #B21509;
}

/* Removes padding on brand */
.navbar-brand {
	padding: 0;
}

/* Fits image to brand size */
.navbar-brand img {
	height: 100%;
}

/* Center navlinks */
.navbar-collapse {
	text-align: center;
}

#info-bar {
	background-color: #B21509;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}

#info-bar p {
	margin: 0;
	font-size: 18px;
	margin-top: 3px;
	margin-bottom: 3px;
/*	font-family: 'Josefin Slab', serif; */
	font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 767px) {
    #phone {
    	display: none;
    }
}

/* Main advertisement */
#advertisement {
	height: 500px;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('wine_selections_lg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
	font-family: 'Oleo Script', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

/* Advertisement header */
#advertisement-container h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 135px;
}

#advertisement-container h2 {
	margin-top: 0;
	font-size: 60px;
}

/* Advertisement text */
#advertisement-container h3 {
	font-size: 30px;
	font-style: italic;
}

/* Word "made!" */
#advertisement-container h3 span{
	color: #B21509;
}

/* Currently open or not*/
#currently {
	font-size: 15px;

	font-family: 'Josefin Slab', serif; 
}

#status {
	color: green;
}

/* Google map */
#map {
	height: 400px;
	width: 100%;
}

/* Hours div */
#hours {
 /*	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
  				 0px 18px 23px rgba(0,0,0,0.1); 
	margin-top: px; */
	color: black;
/*	font-family: 'Josefin Slab', serif; */
	font-family: 'Quicksand', sans-serif; 
	color: black;
}

#hours h5 {
	font-size: 30px;
	margin-bottom: 30px;
	margin-top: 0;
}

@media only screen and (max-width: 990px) {
	#hours {
		text-align: center;
	}
	#currently {
		text-align: center;
		margin-bottom: 20px;
	}
	#hours h5 {
		margin-bottom: 15px;
	}
}

#hours h3 {
	margin-top: 0;
	font-size: 45px;
}

#hours h4 {
	font-size: 25px;
	margin-bottom: 0;
}


#hours-line {
	margin-top: 10px;
	border-color: red;
}















