/* Body Color */
body {
    background-color: white;
}

/* Slogan for page */
#gallery-slogan {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
    animation: slidedown;
    animation-duration: 2s;
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Red lettering */
#gallery-slogan span {
	font-weight: 800;
	color: #B21509;
}

/* Make all the images the right size and format */
.col-sm-6 img {
	width: 100%;
	margin-bottom: 20px;
	transition: transform .5s
}

#first {

}

/*.row img {
    animation: fade;
    animation-duration: 2s;
}*/

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Modal image class*/
.imgm {
	transition: 0.3s;
}

@media only screen and (min-width: 775px){
  .imgm {
    height: 240px;
  }
}

/* Mouse over modal image */
.imgm:hover {
	opacity: 0.7;
}

/* Modal area */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover on close button */
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
