/* Flex container */
.splash {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

/* Which location were you looking for? */
.splash-top {
    margin: auto;
    text-align: center;
 /*   font-family: 'Raleway', sans-serif; */
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
  /*  font-style: italic; */
}

#splash-image-1 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('lunenburg.png');
    background-position: 70% 50%;
    background-size: cover;
	background-repeat: no-repeat;

    display: flex;
    height: 350px;
    width: 100%;
}

.splash-text {
    color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    flex: 1;
    justify-content: center;
    margin: auto;
}

#splash-image-2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('fitchburg.png');
    background-position: 70% 50%;
    background-size: cover;
	background-repeat: no-repeat;

    margin-top: 5px;
    display: flex;
    height: 350px;
}

#separator {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}