/* No links have decoration */
a {
    text-decoration: none;
}

/* Flex container */
.splash {
    display: flex;
    height: 87vh;
    justify-content: center;
    flex-direction: column;
}

/* Which location were you looking for? */
.splash-top {
    margin: auto;
    text-align: center;
 /*   font-family: 'Raleway', sans-serif; */
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
  /*  font-style: italic; */
}

/* First image container */
#splash-image-1 {
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('lunenburg.png');
    background-position: 70% 50%;
    background-size: cover;
	background-repeat: no-repeat;
    display: flex;
    height: 40%;
    width: 100%;
    opacity: 1;
    transition: opacity .3s linear;
    z-index: 99;
}

/* Change opacity on hover */
#splash-image-1:hover {
    opacity: .7;
}

/* Center text */
.splash-body {
    margin: auto;
}

/* Format text */
.splash-text {
    color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
    text-align: center;
    flex: 1;
    justify-content: center;
    margin: auto;
}

/* Header, restraunt name*/
.head {
    font-size: 50px;
}

/* Second image container */
#splash-image-2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('fitchburg.png');
    background-position: 70% 50%;
    background-size: cover;
	background-repeat: no-repeat;

    margin-top: 5px;
    display: flex;
    height: 40%;
    opacity: 1;
    transition: opacity .3s linear;
}

/* Change opacity on hover */
#splash-image-2:hover {
    opacity: 0.7;
}

/* Make all links the size of the image */
.link {
    width: 100%;
    display: flex;
}

/* Separate containers */
#separator {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
